* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif, Arial, Helvetica; }

a {
  text-decoration: none;
  color: #000; }

ul {
  list-style: none; }

@media (max-width: 575px) {
  .container {
    width: 95%; } }
@media (min-width: 576px) and (max-width: 767px) {
  .container {
    width: 540px; } }
@media (min-width: 768px) and (max-width: 991px) {
  .container {
    width: 720px; } }
@media (min-width: 992px) and (max-width: 1199px) {
  .container {
    width: 960px; } }
@media (min-width: 1200px) and (max-width: 1399px) {
  .container {
    width: 1140px; } }
@media (min-width: 1400px) {
  .container {
    width: 1320px; } }

.container {
  margin: auto auto; }
  .container .authentication {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center; }
    @media (max-width: 575px) {
      .container .authentication {
        flex-direction: column;
        gap: 30px; } }
    .container .authentication .info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      padding-left: 60px;
      width: 60%;
      background: linear-gradient(180deg, #0674e5 0%, #021c7a 100%);
      color: white;
      height: 100vh;
      position: relative;
      overflow: hidden; }
      @media (max-width: 575px) {
        .container .authentication .info {
          height: 200px;
          width: 100%; } }
      .container .authentication .info h2 {
        font-weight: bold;
        color: inherit; }
      .container .authentication .info p {
        color: inherit; }
      .container .authentication .info .circle1,
      .container .authentication .info .circle2 {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 500px;
        height: 500px;
        border-radius: 50%;
        border: 1px solid #0674e5; }
        @media (max-width: 575px) {
          .container .authentication .info .circle1,
          .container .authentication .info .circle2 {
            width: 150px;
            height: 150px; } }
      .container .authentication .info .circle1 {
        transform: translate(-50%, 40%); }
      .container .authentication .info .circle2 {
        transform: translate(-30%, 50%); }
    .container .authentication .signup-page,
    .container .authentication .signin-page {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      padding-left: 60px;
      display: none; }
      @media (max-width: 575px) {
        .container .authentication .signup-page,
        .container .authentication .signin-page {
          padding: 0;
          align-items: center;
          width: 100%; } }
      .container .authentication .signup-page.show,
      .container .authentication .signin-page.show {
        display: flex; }
      .container .authentication .signup-page h2,
      .container .authentication .signin-page h2 {
        font-weight: bold;
        color: inherit;
        margin-bottom: 10px;
        text-transform: capitalize; }
      .container .authentication .signup-page p,
      .container .authentication .signin-page p {
        color: inherit;
        color: #555; }
      .container .authentication .signup-page form,
      .container .authentication .signin-page form {
        width: 100%;
        margin: 20px auto;
        display: flex;
        flex-direction: column;
        gap: 10px; }
        @media (max-width: 575px) {
          .container .authentication .signup-page form,
          .container .authentication .signin-page form {
            width: 65%; } }
        .container .authentication .signup-page form .form-control,
        .container .authentication .signin-page form .form-control {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          height: 40px;
          border: 1px solid #888;
          border-radius: 20px;
          padding: 10px 20px; }
          .container .authentication .signup-page form .form-control svg,
          .container .authentication .signin-page form .form-control svg {
            color: #888; }
          .container .authentication .signup-page form .form-control input,
          .container .authentication .signin-page form .form-control input {
            width: 100%;
            border: none;
            border-radius: 10px;
            padding: 10px;
            height: 30px;
            outline: none; }
        .container .authentication .signup-page form .error,
        .container .authentication .signin-page form .error {
          width: 100%;
          color: red;
          text-align: center;
          display: none;
          font-size: 13px; }
        .container .authentication .signup-page form button,
        .container .authentication .signin-page form button {
          height: 40px;
          border-radius: 20px;
          background-color: #0674e5;
          color: #fff;
          border: none;
          font-size: 15px;
          line-height: 40px;
          text-transform: capitalize;
          letter-spacing: 1px;
          cursor: pointer; }
        .container .authentication .signup-page form .rememberme,
        .container .authentication .signin-page form .rememberme {
          font-size: 12px;
          margin-top: 6px; }
        .container .authentication .signup-page form .or-sign,
        .container .authentication .signin-page form .or-sign {
          float: right;
          color: #0674e5;
          font-weight: bold;
          cursor: pointer;
          text-align: right;
          font-size: 12px; }
        .container .authentication .signup-page form .forget-pass,
        .container .authentication .signin-page form .forget-pass {
          align-self: center;
          color: #888;
          text-transform: capitalize;
          cursor: pointer;
          font-size: 14px; }
          @media (max-width: 575px) {
            .container .authentication .signup-page form .forget-pass,
            .container .authentication .signin-page form .forget-pass {
              font-size: 12px; } }
          @media (min-width: 576px) and (max-width: 767px) {
            .container .authentication .signup-page form .forget-pass,
            .container .authentication .signin-page form .forget-pass {
              font-size: 12px; } }

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  background-color: #eee;
  padding-left: 30px;
  padding-right: 30px; }
  header .logo {
    width: 200px;
    background-color: #0674e5;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 25px;
    font-size: 25px;
    font-weight: bold;
    color: #fff; }
    header .logo span {
      color: #eee; }
  header button {
    width: 80px;
    background-color: #fff;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 15px;
    font-size: 15px;
    color: black;
    border: none;
    cursor: pointer; }

.container .products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 30px;
  padding-top: 50px; }
  .container .products .product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #eee;
    padding: 10px 10px;
    border-radius: 15px; }
    .container .products .product .favorite {
      width: 190px;
      display: flex;
      justify-content: flex-end; }
      .container .products .product .favorite svg {
        cursor: pointer; }
        .container .products .product .favorite svg.unlike {
          color: #eee; }
        .container .products .product .favorite svg.like {
          color: red; }
    .container .products .product .picture {
      width: 150px;
      height: 200px;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
      padding: 2px;
      overflow: hidden;
      cursor: pointer; }
      .container .products .product .picture img {
        width: 100%;
        height: 100%; }
    .container .products .product .title {
      margin-top: 10px;
      text-transform: capitalize;
      text-align: center;
      border-bottom: 3px solid #eee;
      padding-bottom: 10px; }
    .container .products .product .price {
      color: #0674e5;
      margin-top: 10px;
      width: 60%;
      text-align: center;
      font-weight: bold; }

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  background-color: #eee;
  padding-left: 30px;
  padding-right: 30px; }
  header .logo {
    width: 200px;
    background-color: #0674e5;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 25px;
    font-size: 25px;
    font-weight: bold;
    color: #fff;
    cursor: pointer; }
    header .logo span {
      color: #eee; }
  header button {
    width: 80px;
    background-color: #fff;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 15px;
    font-size: 15px;
    color: black;
    border: none;
    cursor: pointer; }

.container .product-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #eee;
  padding: 20px 0px 20px 20px;
  border-radius: 15px;
  margin: 60px auto; }
  @media (max-width: 575px) {
    .container .product-details {
      width: 325px;
      flex-direction: column;
      gap: 10px; } }
  @media (min-width: 576px) and (max-width: 767px) {
    .container .product-details {
      width: 540px; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .container .product-details {
      width: 700px; } }
  @media (min-width: 992px) and (max-width: 1199px) {
    .container .product-details {
      width: 700px; } }
  @media (min-width: 1200px) and (max-width: 1399px) {
    .container .product-details {
      width: 700px; } }
  @media (min-width: 1400px) {
    .container .product-details {
      width: 800px; } }
  .container .product-details .image {
    width: 200px;
    height: 300px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 2px;
    overflow: hidden; }
    .container .product-details .image img {
      width: 100%;
      height: 100%; }
  .container .product-details .details {
    min-height: 300px;
    display: flex;
    flex-direction: column; }
    @media (max-width: 575px) {
      .container .product-details .details {
        width: 300px; } }
    @media (min-width: 576px) and (max-width: 767px) {
      .container .product-details .details {
        width: 260px; } }
    @media (min-width: 768px) and (max-width: 991px) {
      .container .product-details .details {
        width: 420px; } }
    @media (min-width: 992px) and (max-width: 1199px) {
      .container .product-details .details {
        width: 420px; } }
    @media (min-width: 1200px) and (max-width: 1399px) {
      .container .product-details .details {
        width: 420px; } }
    @media (min-width: 1400px) {
      .container .product-details .details {
        width: 520px; } }
    .container .product-details .details .favorite {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      padding-right: 20px;
      font-size: 14px; }
      .container .product-details .details .favorite svg.like {
        margin-left: 5px;
        color: red; }
    .container .product-details .details .title {
      width: 90%;
      margin-bottom: 10px;
      margin-top: 10px;
      text-align: left;
      padding-right: 20px;
      font-size: 25px; }
    .container .product-details .details .description {
      text-align: left;
      font-size: 15px;
      padding-right: 30px;
      line-height: 20px;
      color: #333; }
    .container .product-details .details .price {
      background-color: #0674e5;
      color: #fff;
      margin-top: 10px;
      width: 100px;
      height: 30px;
      line-height: 30px;
      text-align: center;
      font-weight: bold;
      border-top-left-radius: 15px;
      border-bottom-left-radius: 15px;
      align-self: flex-end;
      justify-self: flex-end; }

/*# sourceMappingURL=main.css.map */
