.container {
    margin: auto auto;

    .authentication {
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;

        @include breakpoint(xs) {
            flex-direction: column;
            gap: 30px;
        }

        .info {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            padding-left: 60px;
            width: 60%;
            background: linear-gradient(180deg, $color2 0%, $color1 100%);
            color: white;
            height: 100vh;
            position: relative;
            overflow: hidden;

            @include breakpoint(xs) {
                height: 200px;
                width: 100%;
            }

            h2 {
                font-weight: bold;
                color: inherit;
            }

            p {
                color: inherit;
            }

            .circle1,
            .circle2 {
                position: absolute;
                left: 0;
                bottom: 0;
                width: 500px;
                height: 500px;
                border-radius: 50%;
                border: 1px solid $color2;

                @include breakpoint(xs) {
                    width: 150px;
                    height: 150px;
                }
            }

            .circle1 {
                transform: translate(-50%, 40%);
            }

            .circle2 {
                transform: translate(-30%, 50%);
            }
        }

        .signup-page,
        .signin-page {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            padding-left: 60px;
            display: none;

            @include breakpoint(xs) {
                padding: 0;
                align-items: center;
                width: 100%;
            }

            &.show {
                display: flex;
            }

            h2 {
                font-weight: bold;
                color: inherit;
                margin-bottom: 10px;
                text-transform: capitalize;
            }

            p {
                color: inherit;
                color: #555;

            }

            form {
                width: 100%;
                margin: 20px auto;
                display: flex;
                flex-direction: column;
                gap: 10px;

                @include breakpoint(xs) {
                    width: 65%;
                }

                .form-control {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    height: 40px;
                    border: 1px solid $fontColor2;
                    border-radius: 20px;
                    padding: 10px 20px;

                    svg {
                        color: $icon;
                    }

                    input {
                        width: 100%;
                        border: none;
                        border-radius: 10px;
                        padding: 10px;
                        height: 30px;
                        outline: none;
                    }
                }

                .error {
                    width: 100%;
                    color: red;
                    text-align: center;
                    display: none;
                    font-size: 13px;
                }

                button {
                    height: 40px;
                    border-radius: 20px;
                    background-color: $color2;
                    color: $fontColor1;
                    border: none;
                    font-size: 15px;
                    line-height: 40px;
                    text-transform: capitalize;
                    letter-spacing: 1px;
                    cursor: pointer;
                }

                .rememberme {
                    font-size: 12px;
                    margin-top: 6px;

                }

                .or-sign {
                    float: right;
                    color: $color2;
                    font-weight: bold;
                    cursor: pointer;
                    text-align: right;
                    font-size: 12px;
                }

                .forget-pass {
                    // margin-top: 10px;
                    align-self: center;
                    color: $fontColor2;
                    text-transform: capitalize;
                    cursor: pointer;
                    font-size: 14px;

                    @include breakpoint(xs) {
                        font-size: 12px;
                    }

                    @include breakpoint(sm) {
                        font-size: 12px;
                    }
                }
            }
        }
    }
}